parameters:
    autoload_files:
        - vendor/autoload.php
    reportUnmatchedIgnoredErrors: false
    level: 1
    ignoreErrors:
        - '#Access to private property.*#'
        - '#.*expects.*, object given#'
    paths:
        - %rootDir%/../../../src